.header {
    background-color: rgb(211, 202, 216);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Playfair;

}

.header > p {
    margin: 0 100px;
    color: rgb(149, 135, 156);
    font-size: 280%;
    font-weight: 900;


}



.header > p:hover {
    color: rgb(97, 89, 101);
}

body {
    background-color: rgb(229, 224, 232);
    margin: 0;
    height: 100vh;
}


.gallery {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Playfair;
}

.gallery > p {
    margin: 0 100px;
    font-size: 150%;
    color: rgb(86, 86, 86);
}

