.header {
    background-color: rgb(211, 202, 216);
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Playfair;

}

.header > a {
    margin: 0 100px;
    color: rgb(149, 135, 156);
    font-size: 280%;
    font-weight: 900;
    text-decoration: none;
}



.header > a:hover {
    color: rgb(97, 89, 101);
}


.portrait {
    font-size: 200%;
    display: flex;
    justify-content: center;
    
}


body {
    background-color: rgb(229, 224, 232);
    margin: 0;
    height: 100vh;
}